.markdown {
  // {{< embed >}}
  a.embed {
    display: block;
    font-size: $font-size-14;
    color: var(--color-link);
    line-height: $padding-16 * 2;
    padding: 0 $padding-16;
    border: $padding-1 solid var(--color-link);
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

/* Adjust heading weight */

.markdown {
  h1, h2, h3 {
    font-weight: 600;
    line-height: 1.25em;
  }
  h1 {
    font-size: 2.5em
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
}

/* Adjust book branding */

.book-brand {
  font-weight: 600;
}

/* adjust tabs border */
.markdown .book-tabs {
  border-color: var(--gray-500);

  label {
    border-bottom: 2px transparent;
  }
  input[type="radio"]:checked + label {
    border-bottom: 2px solid var(--color-link);
  }
}

.toc-title {
  font-weight: 600;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: var(--gray-500);
}

.book-hint.success {
  border-inline-start-color: rgb(149, 200, 91);
  background-color: rgba(149, 200, 91, 0.1);
}

.book-menu input.toggle+label::after {
  font-size: 2em;
  line-height: 0.5em;
}

.book-external-link .book-icon {
  height: 1em;
  width: 1em;
  margin-inline-end: 0.5em;
}