@import "plugins/scrollbars";

.markdown {
  a img {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    margin-inline-end: 0.25em;
  }

  a:visited {
    color: var(--color-link);
  }

  // {{< biglink >}}
  .book-big-link {
    display: block;
    font-size: $font-size-16;
    font-weight: 600;
    color: var(--color-link);
    line-height: $padding-32;
    padding: $padding-16 $padding-32 $padding-16 $padding-16;
    margin: $padding-16 0;
    border: $padding-1 solid var(--gray-500);
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      border-color: var(--color-link);
      text-decoration: none;
    }
    &:visited {
      color: inherit;
      text-decoration: none;
    }

    img {
      margin-bottom: 2px;
      height: 2em;
      width: 2em;
      vertical-align: middle;
      line-height: $padding-32;
      margin-inline-end: 0.5em;
    }
  }
}

.book-section-flat {
  span:first-child {
    opacity: 0.8;
    border-bottom: 1px solid var(--gray-neutral);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.book-first-sections {
  a {
    font-weight: bold;
  }
  li {
    margin: 0;
  }
  li.active {
    background: var(--gray-500);
  }
  li a {
    padding: 0.25em 0.5em;
  }
}

/* Adjust heading weight */

.markdown {
  h1, h2, h3 {
    font-weight: 800;
    line-height: 1.33em;
    letter-spacing: -0.02em;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;

    padding-top: 1em;
    margin-top: 1.5em;
    border-top: 1px solid var(--gray-neutral);
  }
  h3 {
    font-size: 1.5em;
  }
  h1 + h2 {
    padding-top: unset;
    margin-top: unset;
    border-top: unset;
  }
}

/* Adjust book branding */

/* DISABLED: grayed out aside
body, .book-menu-content {
  background-color: var(--gray-100) !important;
}
.book-page {
  background-color: var(--body-background) !important;
}
@media (prefers-color-scheme: dark) {
  body, .book-menu-content {
    background-color: #060606 !important;
  }
  .book-page {
    background-color: #0d0d0e !important;
  }
}
*/

.book-page {
  padding: 3rem 1.5rem !important;
  padding: 3rem calc(0.5rem + 2vw) !important;
}

.book-menu-content {
  border-right: 1px solid var(--gray-neutral);
}

.book-brand {
  font-weight: 600;
}

.toc-title {
  font-weight: 600;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: var(--gray-500);
}

.book-hint.success {
  border-inline-start-color: rgb(149, 200, 91);
  background-color: rgba(149, 200, 91, 0.1);
}

.book-menu a.active {
  font-weight: 800;
  color: var(--body-font-color);
}

.book-menu input.toggle+label::after {
  font-size: 2em;
  line-height: 0.5em;
  opacity: 0.8;
}

.book-external-link .book-icon {
  height: 1em;
  width: 1em;
  margin-inline-start: 0.5em;
}

.book-search input {
  border: 1px solid var(--gray-neutral);
  background-color: var(--body-background);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
}

.book-toc nav ul a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* make tabs look nicer */

.markdown .book-tabs {
  border-color: var(--gray-500);
  background: var(--gray-200);

  label {
    border-bottom: 2px transparent;
  }

  .book-tabs-content {
    background: var(--body-background);
  }

  input[type="radio"] + label:hover {
    background: var(--gray-100);
  }

  input[type="radio"]:checked + label {
    border-bottom: 2px solid var(--color-link);
    background: var(--body-background);
  }
}

/* Hide TOC for smaller screens */

@media screen and (max-width: $toc-hide-at-width) {
  .book-toc {
    display: none;
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu .book-menu-content,
  .book-toc .book-toc-content {
    padding: $padding-16 * 2 $padding-16;
  }
}
